<?xml version="1.0"?>
<model>
  <name>Olympus Sensor Model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Olympus Sim</name>
    <email>info@example.com</email>
  </author>
  <description>
    A sensor model for the Olympus simulation environment
  </description>
</model>
